#container {
    border: 9px solid;
    align-content: center;
    justify-items: center;
    width: 960px;
    height: 960px;
    overflow: hidden;
    
}

.inDiv {
    border: 1px solid rgb(0, 0, 0);
}

.outDiv{
    max-width: 960px;
    display: flex;
}

body{
    background-color: rgb(180, 154, 240);
    align-content: center;
    justify-items: center;
    
}

.btn{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 1px;
}

html {
  box-sizing: border-box;
}
